@using System.Globalization
@model List<ForecastViewModel>
@{
    ViewData["Title"] = "Forecasts";
}
<form id="betsForm" asp-controller="Home" asp-action="SaveBetsAsync" method="post">
    <div id="saveBetsButton" class="d-inline-block hover-pointer m-3">
        <img src="~/images/save.svg" />
        <span id="betsForSaveBadge" class="badge badge-danger">0</span>
    </div>
    @{
        var index = 0;

        foreach (var group in Model.GroupBy(x => new { x.ShowAt.Year, x.ShowAt.Month, x.ShowAt.Day }))
        {
            <div class="card-deck pb-5 border-bottom border-dark bs-2">
                <div class="col-12">
                    <h1 class="text-center">@group.FirstOrDefault()?.GameAt.ToString("d", new CultureInfo("ru-RU"))</h1>
                </div>
                @for (var i = 0; i < group.Count(); i++)
                {
                    @Html.EditorFor(x => Model[index], "_ForecastInGridPartial")
                    index++;
                }
            </div>
        }
    }
</form>

@section Scripts
{
    <script>
        $(function() {
            $(".nav-item").removeClass("active");
            $("#nav-forecasts").addClass("active");
            
            $(".edit-forecast-button").click(function() {
                $(this).closest(".card-footer").find(".hidden-options-container").slideToggle();
                $(this).closest(".card-footer").find(".coeff-value").prop("readonly",
                    function(idx, oldProp) {
                        return !oldProp;
                    });
            });

            $(".edit-forecast-button").click();

            $("#saveBetsButton").click(function() {
                toggleLoader();

                $.post('@Url.Action("SaveBetsAsync", "Home")',
                    $("#betsForm").serialize(),
                    function(response) {
                        toggleLoader();
                    });
            });

            $("input[id$='SaveBet']").change(function() {
                var number = parseInt($("#betsForSaveBadge").text());

                if ($(this).is(":checked")) {
                    $("#betsForSaveBadge").text(number + 1);
                } else {
                    $("#betsForSaveBadge").text(number - 1);
                }
            });
        });
    </script>
}
