@model Dictionary<int, Dictionary<ASP_Statistics.Enums.Month, decimal>>

@foreach (var year in Model)
{
    <h4 class="text-center">@year.Key</h4>
    <div class="row">
        @foreach (var month in year.Value)
        {
            <div class="flex-fill">
                <div class="form-group">
                    <label class="text-danger">@month.Key.ToString()</label>
                    <span class="input-group-text flex-fill">
                        <span class="font-weight-bold">@month.Value</span>
                    </span>
                </div>
            </div>
        }
    </div>
}
