@using ASP_Statistics.Utils
@model SettingsAndInfoViewModel

<div class="row">
    <div class="col-12 border-bottom">
        <label class="h3 text-danger">Current State<i id="editLastStateButton" class="fas fa-pen-square ml-3 hover-pointer text-success"></i></label>
        @await Html.PartialAsync("_StateViewModelPartial", Model.LastState)
    </div>
    <div class="col-12 border-bottom">
        <label class="h4">Settings<i id="editSettingsButton" class="fas fa-pen-square ml-3 hover-pointer text-success"></i></label>
        @await Html.PartialAsync("_SettingsViewModelPartial", Model.Settings)
    </div>
    <div class="col-12 border-bottom">
        <label class="h4">Bank Values By Years</label>
        <div id="bankValuesByYearsContainer" class="col">
            
        </div>
    </div>
    <div class="col-12 border-bottom">
        <label class="h4">Bets Chain</label>
        <div class="input-group mb-3">
            <div id="bets-chain" class="input-group-prepend d-flex w-100">

            </div>
        </div>
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Coefficient" aria-label="Coefficient" asp-for="ChainCoefficient" step="0.001">
            <input type="number" class="form-control" placeholder="Bet Value" aria-label="Bet Value" asp-for="ChainBetValue" step="0.001">
            <div class="input-group-append">
                <button id="calculateChainBetsButton" class="btn btn-success" type="button" id="button-addon2">
                    <i class="fas fa-calculator"></i>
                    Calculate
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#calculateChainBetsButton").click(function() {
            toggleLoader();

            var model = {
                coefficient: $("#ChainCoefficient").val(),
                bet: $("#ChainBetValue").val()
            };

            $.post('@Url.Action("CalculateChainBetsAsync", "Home")',
                model,
                function(response) {
                    $("#bets-chain").html($(response));

                    toggleLoader();
                });
        });

        $("#calculateChainBetsButton").click();

        $("#editSettingsButton").click(function() {
            $(this).toggleClass("text-success");
            $(this).toggleClass("text-danger");

            $("#settingsForm fieldset").prop("disabled",
                function(idx, oldProp) {
                    return !oldProp;
                });
        });

        $("#editLastStateButton").click(function () {
            $(this).toggleClass("text-success");
            $(this).toggleClass("text-danger");

            $("#currentStateForm fieldset").prop("disabled",
                function (idx, oldProp) {
                    return !oldProp;
                });
        });

        initializeBankValuesByYears('@Url.Action("GetBankValuesByYearsAsync", "Home")');
    });
</script>